<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        #app {
            border: 2px solid #000;
            width: 600px;
            height: 300px;
            font-size: 16px;
            margin: 100px auto;
        }
    </style>
</head>

<body>
    <div id="app">
        <child :level="level">
            夏天冰阔落
        </child>
    </div>
    <!-- <template id="hdom">
        <div>
            <h1 v-if="level===1">
                <slot></slot>
            </h1>
            <h2 v-if="level===2">
                <slot></slot>
            </h2>
            <h3 v-if="level===3">
                <slot></slot>
            </h3>
        </div>
    </template> -->
    <script>
        // Vue.component('child', {
        //     props:['level'],
        //     template:'#hdom'
        // })
        Vue.component('child', {
            render:function(createElement){
                return createElement('h'+this.level,this.$slots.default)
            },
            props:['level']
        })
        var app = new Vue({
            el: '#app',
            data: {
                level: 1
            }
        })
    </script>
</body>

</html>